.nav {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 3em;
    @media(min-width: 768px) {
        padding: 1.5em 4em;
    }
}

a.nav-link {
    color: rgb(172, 172, 172);
    font-size: 1.15em;
    text-transform: uppercase;
    transition: color 250ms ease;
    &:hover {
        color: rgb(73, 73, 73);
    }
    &.selected {
        color: rgb(73, 73, 73);
    }
}